<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Scraping</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>
<body>
    <div class="row text-center">
        <h2 class="mt-3">Web Scraper</h2>
        <div class="col">
        </div>
        <div class="col align-self-center justify-content-center">
            <div class="card w-100 mt-3">
                <div class="card-body">
                    <form action="upload-txt.php" enctype="multipart/form-data" method="post">
                        <input class="form-control mt-3" placeholder="Ingresa un producto" type="file" name="files">
                        <button type="submit" class="btn btn-primary w-100 mt-3" id="scraper-btn">Scrapear</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col">
        </div>
    </div>
</body>
</html>